@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --biblia: rgb(0, 119, 181);
  --biblia-hover: #0090dd;
  --red: #ff0040;
  --motomami: #a51d29;
  --motomami-hoover: #cd2937;
  --motomami-alpha: rgba(165, 29, 41, 0.08);
  --biblia-alpha: rgba(0, 119, 181, 0.08);
  --r: 48px; /* radio del “diente” */
  --h: 120px; /* alto de franja de ola */
  --speed: 5s; /* velocidad de animación */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.bg-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle at 20% 50%, #a51d2966 0%, transparent 50%),
    radial-gradient(
      circle at 80% 50%,
      rgba(0, 119, 181, 0.4) 0%,
      transparent 50%
    );
  opacity: 0.4;
}

.score-display {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.score-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.rosalia-main {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  padding: 2rem;
  display: block;
}

.game-zone {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.icon-correct {
  color: #22c55e;
}
.icon-error {
  color: #ef4444;
}
.icon-total {
  color: #3b82f6;
}

.logo {
  color: var(--foreground);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, var(--motomami), var(--biblia));
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  font-weight: 700;
}

.btn-rosalia {
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--motomami);
}

.btn-rosalia:hover {
  background-color: var(--motomami-hoover);
}

.btn-biblia {
  cursor: pointer;
  color: var(--foreground);
  background-color: var(--biblia);
}

.btn-biblia:hover {
  background-color: var(--biblia-hover);
}

.btn-rosalia:disabled {
  cursor: not-allowed !important;
}

.btn-biblia:disabled {
  cursor: not-allowed !important;
}

.navbar {
  max-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-next:hover {
  background-color: lab(100 0 0 / 0.18);
}

.quote-zone {
  height: 200px;
  max-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-zone {
  height: 60px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
